@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lora", serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
  }
}

@layer components {
  .btn-fill {
    @apply relative font-playfair px-8 py-3 text-white font-medium rounded-lg overflow-hidden border-2 border-white/80 transition-all duration-300 inline-block;
    position: relative;
    z-index: 1;
  }

  .btn-fill::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #c4a484;
    transition: all 0.3s ease;
    z-index: -1;
  }

  .btn-fill:hover::before {
    height: 100%;
  }

  .btn-fill:hover {
    @apply border-transparent;
  }
}
